.carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   .first-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    p{
        padding-top: 1%;
    }
   }
   .second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 2%;
   } 
   
}

@media (width < 768px) {
    .carousel-container{
        .first-section{
            padding: 2%;
        }
    }
}
