<div id="customer" class="carousel-container">
    <div class="first-section">
        <h1>Nuestros clientes</h1>
        <p>Estos son algunas ideas de como puedes acompañar nuestras delciosas arepas</p>
    </div>
    <div class="second-section">
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10" aria-label="Slide 11"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="11" aria-label="Slide 12"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://firebasestorage.googleapis.com/v0/b/arepas-el-eden.appspot.com/o/1.png?alt=media&token=c2227126-9aeb-43c7-865c-87e158728e16" class="d-block w-100 custom-img" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>First slide label</h5>
                  <p>Some representative placeholder content for the first slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/arepas-el-eden.appspot.com/o/2.png?alt=media&token=037d92ae-a0c9-462e-a85b-6e817838cbca" class="d-block w-100 custom-img" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/arepas-el-eden.appspot.com/o/3.png?alt=media&token=b2a8aa95-b9c4-4ea5-81ec-a2bd3aa79033" class="d-block w-100 custom-img" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/arepas-el-eden.appspot.com/o/4.png?alt=media&token=3ed75086-0852-4b37-8ffd-d5d3c81bdf5a" class="d-block w-100 custom-img" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/arepas-el-eden.appspot.com/o/5.png?alt=media&token=b9b99466-8e53-421e-8ea9-805db15444eb" class="d-block w-100 custom-img" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/arepas-el-eden.appspot.com/o/6.png?alt=media&token=7a0bacba-9ce8-4a7b-bfeb-44314a3bedd9" class="d-block w-100 custom-img" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/arepas-el-eden.appspot.com/o/7.png?alt=media&token=7716db8a-fc44-4646-bbcd-0aabfb77cbce" class="d-block w-100 custom-img" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/arepas-el-eden.appspot.com/o/8.png?alt=media&token=a8d50802-77db-47f9-a538-385b276f16f5" class="d-block w-100 custom-img" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/arepas-el-eden.appspot.com/o/9.png?alt=media&token=de25a33f-1e3a-414a-8f92-c492af36cf99" class="d-block w-100 custom-img" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/arepas-el-eden.appspot.com/o/10.png?alt=media&token=33086013-0859-4b51-ad20-59b092709952" class="d-block w-100 custom-img" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/arepas-el-eden.appspot.com/o/11.png?alt=media&token=ff4c6b98-b9f3-402e-a363-cc524c131674" class="d-block w-100 custom-img" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/arepas-el-eden.appspot.com/o/12.png?alt=media&token=09ba2cdf-4a41-4b31-8d61-f1ca57211608" class="d-block w-100 custom-img" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>          
    </div>
</div>