.carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8C7A7A;
   .first-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    p, h1{
        padding-top: 1%;
        color: aliceblue;
    }
   }
   .second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 2%;
   } 
   
}

@media (width < 768px) {
    .carousel-container{
        .first-section{
            padding: 2%;
        }
        .second-section{
            padding-bottom: 7%;
            width: 100%;
        }
    }
}
