<div id="order" class="order-container">
  <div class="image">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/arepas-el-eden.appspot.com/o/13.jpg?alt=media&token=df7219f2-3964-4eb9-9c0a-af29626cce4d"
      alt=""
    />
  </div>
  <div class="text">
    <h1>¡Ordena tu sabor favorito hoy mismo en Arepas El Edén!</h1>
    <p>
      ¿Listo para saborear estas delicias? ¡Ordénalas ahora y disfruta de la
      auténtica experiencia culinaria de Arepas El Edén en tu hogar!
    </p>
    <a
      href="https://api.whatsapp.com/send?phone=573177009946&text=Hola,%20estuve%20en%20su%20p%C3%A1gina%20y%20quisiera%20encargar%20uno%20de%20sus%20productos!"
      target="_blank"
      type="button"
      class="btn btn-outline-secondary"
    >
      ORDENA AQUÍ
    </a>
  </div>
</div>
