<div id="order" class="order-container">
  <div class="image">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/arepas-el-eden.appspot.com/o/15.png?alt=media&token=8b771be6-48ed-4005-b93b-3ff9395af04b&_gl=1*1wiqp34*_ga*NTc1OTU2MDAwLjE2OTAxOTg2NDA.*_ga_CW55HF8NVT*MTY5NjYwNTE2NC4xMi4xLjE2OTY2MDYyNjEuMTguMC4w"
      alt=""
    />
  </div>
  <div class="text">
    <h1>¡Ordena tu sabor favorito hoy mismo en Arepas El Edén!</h1>
    <p>
      ¿Listo para saborear estas delicias? ¡Ordénalas ahora y disfruta de la
      auténtica experiencia culinaria de Arepas El Edén en tu hogar!
    </p>
    <a
      href="https://api.whatsapp.com/send?phone=573108585105&text=Hola,%20estuve%20en%20su%20p%C3%A1gina%20y%20quisiera%20encargar%20uno%20de%20sus%20productos!"
      target="_blank"
      type="button"
      class="btn btn-outline-light"
    >
      ORDENA AQUÍ
    </a>
  </div>
</div>
