.order-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 4%;
    background-color: #8C7A7A;
    align-items: center;

  .image {
    display: flex;
    justify-content: flex-end;
    width: 57%;
    img {
      width: 100%;
      border-radius: 6px;
    }
  }
  .text {
    display: flex;
    width: 65%;
    margin-right: 25%;
    flex-direction: column;
    color: aliceblue;
  }
}

@media (width < 768px) {
  .order-container {
    grid-template-columns: 1fr;
  .image {
   display: none;
  }
  .text {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
}

}