<footer
  class="footer-iglesia"
>
  <div class="container">
    <div class="container-main">
      <div class="container-ministerios">
        <h3>Nuestros sabores</h3>
        <ul>
          <li><a href="#peto">Peto</a></li>
          <li><a href="#pelao">Pelao</a></li>
          <li><a href="#sal">Sal</a></li>
          <li><a href="#dulce">Dulce</a></li>
        </ul>
      </div>
      <div class="container-cuando">
        <h3>Puedes pasar a recogerlas</h3>
        <ul>
          <li
            style="cursor: pointer"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Dirección
          </li>
          <li><img src="../../../assets/images/NuevoLogoElEden.png" width="50" alt=""></li>
        </ul>
      </div>
      <div class="container-online">
        <h3>Redes sociales</h3>
        <ul>
          <li><a target="_blank" href="">Facebook</a></li>
          <li><a target="_blank" href="">Instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="derechos">© 2023 Arepas El Eden</div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Mapa para llegar Arepas El Eden
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3913.2366397740975!2d-74.20436542404714!3d11.243994850393486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef4f56e230245f7%3A0x45820a5d525e5110!2sAv.%20El%20Libertador%20%2313-87%2C%20Comuna%204%2C%20Santa%20Marta%2C%20Magdalena!5e0!3m2!1ses!2sco!4v1681690541062!5m2!1ses!2sco"
            width="400"
            height="300"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</footer>