<footer
  class="footer-iglesia"
>
  <div class="container">
    <div class="container-main">
      <div class="container-ministerios">
        <h3>Nuestros sabores</h3>
        <ul>
          <li><a href="#peto">Peto</a></li>
          <li><a href="#pelao">Pelao</a></li>
          <li><a href="#sal">Sal</a></li>
          <li><a href="#dulce">Dulce</a></li>
        </ul>
      </div>
      <div class="container-cuando">
        <h3>Entregamos a domicilio</h3>
        <ul>
          <!-- <li
            style="cursor: pointer"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Dirección
          </li> -->
          <li><img src="../../../assets/images/NuevoLogoElEden.png" width="100" alt=""></li>
        </ul>
      </div>
      <div class="container-online">
        <h3>Redes sociales</h3>
        <ul>
          <li><a target="_blank" href="">Facebook</a></li>
          <li><a target="_blank" href="">Instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="derechos">© 2023 Arepas El Eden</div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Mapa para llegar Arepas El Eden
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
</footer>